@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:700);

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	background: #333;
	overflow-y: scroll;
	color: #bbb;
	padding-bottom: 20px;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	
	a, input[type="submit"], button[type="submit"] {
		text-decoration: none;
		color: #3873ba;
		&:visited { color: #b93838; }
		&:hover { color: #baa938; }
		&:active { color: #51ba38; }
	}
}

header {
	background: #000;
	border-bottom: 1px solid #555;
	padding: 10px 8px 4px 12px;
	
	#brand {
		font-family: 'Cinzel Decorative', cursive;
		font-weight: bold;
		text-shadow: -1px -1px 0 #ddd, 2px 2px 0 #000;
		font-size: 28px;
		line-height: 28px;
		cursor: pointer;
		
		&:hover {
			text-shadow: -1px -1px 0 #ddd, 2px 2px 0 #000, 1px 1px 10px #fff;
		}
	}
	
	#board-form {
		float: right;
		text-align: right;
		width: 50%;
		position: relative;
		top: -1px;
		
		input[type="text"] {
			background: #222;
			border: 1px solid #333;
			padding: 4px;
			color: #eee;
			box-shadow: inset 1px 1px 0 #000;
			margin-bottom: 8px;
			width: 200px;
			
			&:focus {
				outline: none;
				box-shadow: inset 1px 1px 0 #000, 0 0 5px #777;
			}
		}
		
		input[type="submit"] {
			background: #222;
			border: 1px solid #333;
			padding: 4px 12px;
			color: #999;
			box-shadow: inset 1px 1px 0 #444;
		}
	}
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: #444;
	border-top: 1px solid #111;
	padding: 4px;
	font-size: 10px;
	text-align: center;
	color: #777;
}

#main {
	padding: 8px;
	
	input[type="text"] {
		background: #222;
		border: 1px solid #444;
		padding: 8px;
		width: 100%;
		color: #eee;
		box-shadow: inset 1px 1px 0 #000;
		margin-bottom: 8px;
		
		&:focus {
			outline: none;
			box-shadow: inset 1px 1px 0 #000, 0 0 5px #777;
		}
	}
		
	.title {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		font-family: 'Cinzel Decorative', cursive;
		text-shadow: 0 0 5px #000;
		color: #999;
	}
	
	#search {
		float: left;
		width: 19.99%;
	}
	
	#content {
		float: left;
		width: 59.99%;
		padding: 0 24px;
		
		#recent-notes {
			
		}
		
		#item-notes {
			#item-notes-title {
				.price {
					float: right;
				}
				
				.name, .gil {
					font-size: 24px;
					font-family: 'Cinzel Decorative', cursive;
					text-shadow: 0 0 5px #000;
				}
			}
		}
		
		#empty-notes-message {
			text-align: center;
			color: #777;
		}
	}
	
	#recent {
		float: left;
		width: 19.99%;
		
		#empty-recent-message {
			text-align: center;
			color: #777;
		}
	}
	
	hr {
		border: 0;
		height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
	}
}

.item-result {
	margin-bottom: 8px;
	box-shadow: 0 0 5px #222;
	padding: 6px;
	border: 1px solid transparent;
	transition: all 0.2s ease-out;
	
	&:hover {
		box-shadow: 0 0 5px #000;
		background: #2a2a2a;
		border: {
			top-color: #444;
			left-color: #444;
			right-color: #222;
			bottom-color: #222;
		}
	}
	
	.name {
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		
		.price {
			float: right;
		}
	}
	
	.info {
		color: #666;
		
		.link {
			float: right;
			color: #444;
			
			&:hover {
				color: #aaa;
			}
		}
		
		.level {
			color: #888;
			
			em {
				font-style: normal;
				color: #ddd;
			}
		}
		
		.type {
			color: #999;
		}
	}
}

.note {
	margin-bottom: 8px;
	box-shadow: 0 0 5px #222;
	padding: 6px;
	border: 1px solid transparent;
	transition: all 0.2s ease-out;
	
	&:hover {
		box-shadow: 0 0 5px #000;
		background: #2a2a2a;
		border: {
			top-color: #444;
			left-color: #444;
			right-color: #222;
			bottom-color: #222;
		}
	}
	
	.name {
		font-size: 14px;
		line-height: 20px;
		font-weight: bold;
		
		.price {
			float: right;
		}
	}
	
	.info {
		color: #666;
		
		.link {
			float: right;
			color: #444;
			
			&:hover {
				color: #aaa;
			}
		}
		
		.level {
			color: #888;
			
			em {
				font-style: normal;
				color: #ddd;
			}
		}
		
		.type {
			color: #999;
		}
	}
}

.gil {
	em {
		font-style: normal;
		color: #999;
	}
}
