@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:700);

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	background: #333;
	overflow-y: scroll;
	color: #bbb;
	padding-bottom: 20px;
	font-size: 14px;
	
	a, input[type="submit"], button[type="submit"] {
		text-decoration: none;
		color: #3873ba;
		&:visited { color: #b93838; }
		&:hover { color: #baa938; }
		&:active { color: #51ba38; }
	}
}

header {
	font-family: 'Cinzel Decorative', cursive;
	font-weight: bold;
	background: #000;
	border-bottom: 1px solid #555;
	padding: 10px 8px 4px 12px;
	text-shadow: -1px -1px 0 #ddd, 2px 2px 0 #000;
	font-size: 28px;
	line-height: 28px;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: #444;
	border-top: 1px solid #111;
	padding: 4px;
	font-size: 10px;
	text-align: center;
	color: #777;
}

#main {
	padding: 8px;
	
	#search {
		float: left;
		width: 19.9%;
		
		input[type="text"] {
			background: #222;
			border: 1px solid #444;
			padding: 8px;
			width: 100%;
			color: #eee;
			box-shadow: inset 1px 1px 0 #000;
			
			&:focus {
				outline: none;
				box-shadow: inset 1px 1px 0 #000, 0 0 5px #777;
			}
		}
		
		hr {
			border: 0;
			height: 1px;
	    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
	    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
	    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
	    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
		}
	}
	
	#content {
		float: left;
		width: 79.9%;
	}
}

.item-result {
	margin-bottom: 8px;
	box-shadow: 0 0 5px #222;
	padding: 6px;
	border: 1px solid transparent;
	
	&:hover {
		box-shadow: 0 0 5px #000;
		background: #2a2a2a;
		border: {
			top-color: #444;
			left-color: #444;
			right-color: #222;
			bottom-color: #222;
		}
	}
	
	.name {
		font-size: 16px;
		font-weight: bold;
	}
	
	.info {
		color: #666;
		
		.link {
			float: right;
			color: #444;
			
			&:hover {
				color: #aaa;
			}
		}
		
		.level {
			color: #888;
			
			em {
				font-style: normal;
				color: #ddd;
			}
		}
		
		.type {
			color: #999;
		}
	}
}
