<!DOCTYPE html>
<html>
<head>
  <title>Notepadxiv</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="nixv">
	<header>Notepad XIV</header>
	<section id="main" ng-cloak class="cf"><%= yield %></section>
	<footer>Pink Stars Are Falling In Lines</footer>
	<script>var xivdb_tooltips = { "language": "EN" } </script>
</body>
</html>
